.react-html5-camera-photo {
  position: initial !important;
}

.react-html5-camera-photo-fullscreen > video {
  object-fit: fill !important;
}

#container-circles {
  bottom: 50px;
  left: 0;
  width: 100%;
}

#outer-circle {
  left: 0;
  right: 0;
  margin: auto;
  position: relative;
}