.contact-item {
  & .item-inner {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &.no-divider .item-inner {
    &::after {
      content: none !important;
    }
  }
}

.searched-contact-item {
  & .item-inner {
    padding: 0 !important;
  }
}