$icon-size: 23px;

.contact-logo {
  align-items: center;
  border: 1px solid var(--seed-shadow-color);
  border-radius: $icon-size;
  display: inline-flex;
  height: $icon-size;
  justify-content: center;
  min-width: $icon-size;
  overflow: hidden;
  width: $icon-size;
}