.dialog {
  @media all and (min-width: 551px) {
    transform: translate3d(-50%,-50%,0) scale(1.185) !important;
    &.modal-in {
      transform: translate3d(-50%, -50%, 0) scale(1) !important;
    }

    &-backdrop {
      transform: translate3d(calc(50vw - 275px), 0px, 0px) !important;
    }
  }

  &-title {
    margin: 10px 0;
  }
}
