$base_path: './../../fonts';
$primary-name: 'vazir';
$secondary-name: 'iran-sans';
$type: 'woff2';
$password-name: 'password';
$secondary-type: 'woff';
$primary-src: ( bold: url('#{$base_path}/#{$primary-name}/#{$primary-name}-bold.#{$type}'),
medium: url('#{$base_path}/#{$primary-name}/#{$primary-name}-medium.#{$type}'),
thin: url('#{$base_path}/#{$primary-name}/#{$primary-name}-thin.#{$type}'));
$secondary-src: ( black: url('#{$base_path}/#{$secondary-name}/#{$secondary-name}-black.#{$secondary-type}'),
bold: url('#{$base_path}/#{$secondary-name}/#{$secondary-name}-bold.#{$secondary-type}'),
demi-bold: url('#{$base_path}/#{$secondary-name}/#{$secondary-name}-demi-bold.#{$secondary-type}'),
extra-bold: url('#{$base_path}/#{$secondary-name}/#{$secondary-name}-extra-bold.#{$secondary-type}'),
light: url('#{$base_path}/#{$secondary-name}/#{$secondary-name}-light.#{$secondary-type}'),
medium: url('#{$base_path}/#{$secondary-name}/#{$secondary-name}-medium.#{$secondary-type}'),
regular: url('#{$base_path}/#{$secondary-name}/#{$secondary-name}-regular.#{$secondary-type}'),
thin: url('#{$base_path}/#{$secondary-name}/#{$secondary-name}-thin.#{$secondary-type}'));
@each $var in map-keys($map: $primary-src) {
    @font-face {
        font-family: '#{$primary-name}-#{$var}';
        src: map-get($map: $primary-src, $key: $var) format('#{$type}');
    }
}

@each $var in map-keys($map: $secondary-src) {
    @font-face {
        font-family: '#{$secondary-name}-#{$var}';
        src: map-get($map: $secondary-src, $key: $var) format('#{$secondary-type}');
    }
}

@font-face {
    font-family: '#{$password-name}';
    src: url('#{$base_path}/#{$password-name}/#{$password-name}.#{$type}') format('#{$type}');
}

@mixin primary-font-family($type: 'thin',
$is-important: false) {
    @if($is-important==false) {
        font-family: '#{$primary-name}-#{$type}',
        sans-serif;
    }
    @else {
        font-family: '#{$primary-name}-#{$type}',
        sans-serif !important;
    }
}

@mixin secondary-font-family($type: 'regular',
$is-important: false) {
    @if($is-important==true) {
        font-family: '#{$secondary-name}-#{$type}',
        sans-serif !important;
    }
    @else {
        font-family: '#{$secondary-name}-#{$type}',
        sans-serif;
    }
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
    letter-spacing: normal;
}

@mixin password-font-family() {
    font-family: '#{$password-name}',
    sans-serif !important;
}

.\!font-thin {
    @include primary-font-family('thin',
    true);
}

.\!font-bold {
    @include primary-font-family('bold',
    true);
}

.\!font-medium {
    @include primary-font-family('medium',
    true);
}

.\!secondary-font-regular {
    @include secondary-font-family('regular',
    true);
}

.\!secondary-font-extra-bold {
    @include secondary-font-family('extra-bold',
    true);
}

.\!secondary-font-black {
    @include secondary-font-family('black',
    true);
}

.\!secondary-font-demi-bold {
    @include secondary-font-family('demi-bold',
    true);
}

.\!secondary-font-bold {
    @include secondary-font-family('bold',
    true);
}

.\!secondary-font-light {
    @include secondary-font-family('light',
    true);
}

.\!secondary-font-medium {
    @include secondary-font-family('medium',
    true);
}

.\!secondary-font-thin {
    @include secondary-font-family('thin',
    true);
}

.\!password-font {
    @include password-font-family();
}

.\!font-inherit {
    font-family: inherit !important;
}