$danger-color: var(--seed-error-color);

.ios .invalid-field {
  & .item-input, &.item-input-focused {
    border-color: $danger-color !important;
  }

  & .item-media, & .item-input-focused .item-media, & .input-icon {
    color: $danger-color !important;
  }

  & .input-register {
    border-color: $danger-color;
  }
}
