.gauge-back-circle {
  stroke: var(--seed-background-color) !important;
}

.gauge-front-circle {
  transform: rotate(-90deg) !important;
  transform-origin: center;
  stroke: rgb(0, 145, 62) !important;
}