@import "asset/styles/colors";
$close-bgc: darken(saturate(adjust-hue($background-color, 220), 7.69), 2.55);
$close-color: lighten(saturate(adjust-hue($light-dark-color, 24), 0.02), 11.18);
$camera-close-color: var(--seed-white-color);
$camera-close-bgc: var(--seed-error-color);
$camera-accept-bgc: var(--seed-light-primary-color);

.circle-icon {
  background-color: $close-bgc;
  border-radius: 50px;
  color: $close-color;
  padding: 2px;
}

.camera-accept {
  background-color: $camera-accept-bgc !important;
  border-radius: 50px;
  color: $camera-close-color !important;
  padding: 10px;
}

.camera-close {
  background-color: $camera-close-bgc !important;
  border-radius: 50px;
  color: $camera-close-color !important;
  padding: 10px;
}
