//$active-color: var(--seed-primary-color);
//$icon-padding: var(--seed-space-size);
$input-fill-bgc: lighten(saturate(adjust-hue($shadow-color, 250), 12.50), 10.59);
$input-fill-disabled-bgc: lighten(saturate(adjust-hue($shadow-color, 250), 12.50), 17);
$input-fill-placeholder-color: var(--seed-shadow-color);
$input-default-bgc: $white-color;
$input-register-bgc: $white-color;
//$label-top-size: var(--seed-space-size);
//$light-dark-color: var(--seed-light-dark-color);
//$transition: var(--seed-transition);

.ios .item {
  &-input {
//    border-bottom: 2px solid $light-dark-color;
//    padding: 0;
//    transition: border-bottom-color $transition;
//
//    &-focused {
//      border-color: $active-color !important;
//
//      & .item-media {
//        color: $active-color !important;
//      }
//    }
//
//    .item-inner {
//      margin: 0;
//      padding-bottom: 0;
//      padding-left: 0;
//      position: static;
//
//      &:after {
//        background-color: transparent;
//      }
//    }
//
    &-wrap {
      flex-direction: row-reverse;
      direction: ltr;
      display: flex;
      margin: 0 !important;
    }
//
//    & .item-media {
//      align-self: flex-end;
//      color: $light-dark-color;
//      padding-left: $icon-padding;
//      transition: color $transition
//    }
  }
//
//  &-label {
//    @include primary-font-family('medium');
//    position: absolute;
//    right: 0;
//    top: calc(#{$label-top-size} * -2);
//  }
}

.ios .input {
  &-clear-button {
    left: auto;
    right: 0;
  }
}

.invalid-field {
  & .input-field, & .textarea-field {
    border-color: var(--seed-error-color) !important;
  }
}

.textarea {
  border-radius: var(--f7-input-outline-border-radius) !important;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;

  &-default {
    @extend .textarea;
    background-color: $input-default-bgc !important;
  }

  &-fill--disabled {
    opacity: 0.4;
  }

  &-fill {
    @extend .textarea;
    background-color: $input-fill-bgc !important;

    & > textarea {
      height: 100%;
      width: 100%;

      &::placeholder {
        color: $input-fill-placeholder-color;
        font-size: 1.4rem;
        letter-spacing: 0;
        @include primary-font-family();
      }
    }
  }
}

.input {
  border-radius: var(--f7-input-outline-border-radius) !important;
  box-sizing: border-box;
  height: var(--f7-input-height);
  width: 100%;

  &-default {
    @extend .input;
    background-color: $input-default-bgc !important;

    & > input {
      height: 100%;
      width: 100%;
    }
  }

  &-fill {
    @extend .input;
    background-color: $input-fill-bgc !important;

    &--disabled {
      opacity: 0.4;
    }

    & > input {
      height: 100%;
      width: 100%;

      &::placeholder {
        color: $input-fill-placeholder-color;
        font-size: 1.4rem;
        letter-spacing: 0;
        @include primary-font-family();
      }
    }

    .item-content.item-input {
      padding: 0 !important;

      & .item-inner {
        padding: 0 !important;

        &:after {
          content: none;
        }

        & input {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.input-register {
  background-color: $input-register-bgc !important;
  border: solid 2px transparent;
  border-radius: var(--seed-radius-large-size) !important;
  box-sizing: border-box;
  height: var(--seed-input-height-large);
  width: 100%;

  &.input-register-clearable input {
    padding-right: 28px;
  }

  & .submit-button {
    min-width: 30px;

    & svg {
      display: block !important;
    }
  }

  & .item-inner, & .item-content {
    height: 100%;
    min-height: initial !important;
  }

  & .item-inner {
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;

    &:after {
      content: initial;
    }
  }

  & .item-input-wrap {
    margin: initial !important;
  }

  & .item-content {
    padding-left: calc(var(--f7-list-item-padding-horizontal) + var(--f7-safe-area-right) - var(--menu-list-offset));
  }
}

.input-amount {
  & .item-input {
    border: none
  }

  & .item-content, & .item-inner {
    min-height: initial;
  }

  & .item-inner {
    padding-top: 0;

    &:after {
      content: none;
    }
  }

  & input {
    color: inherit !important;
    font-size: inherit !important;
  }
}
