$disagree-color: #eaebed;
$agree-color: var(--seed-secondary-color);
$figure-border-color: #eee;
$button-color: #fff;
$media-size: 70vw;

.media {
  & > div {
    min-height: unset;
    width: auto;
    height: auto;
    overflow: visible;
    background-color: transparent;

    & > div:last-child {
      bottom: 0;

      & video {
        width: $media-size;
        height: $media-size;
        max-width: 400px;
        max-height: 400px;
        border-radius: $media-size;
        overflow: hidden;
        top: calc(50% - 40px);
        right: initial !important;
        min-height: initial !important;
        min-width: initial !important;
      }

      & > div {
        padding-bottom: 0 !important;
        position: static;
        background-color: initial;

        & > div:last-child {
          & > div:first-child {
            //display: none;
          }

          & > div:last-child {
            padding: 0;
            & > div {
              //border: 1px solid var(--seed-shadow-color);
              display: flex;
              justify-content: center;
              align-items: center;

              & > button[data-qa="stop-recording"] {
                background: var(--seed-shadow-color);
                width: 60px;
                height: 60px;
                margin: initial !important;
                border-radius: 50%;
              }
            }
          }
        }

        & > div > div:first-child {
          padding: 0;

          & > div > div:first-child {
            display: none;
          }

          & > div > div:last-child {
            border: 1px solid var(--seed-error-color);
            display: flex;
            justify-content: center;
            align-items: center;

            & > button {
              background: var(--seed-error-color);
              transition: background var(--seed-transition);
            }
          }
        }

      }

      & button[data-qa="start-replaying"] {
        color: #fff;
        position: relative;
        &::after {
          content: 'ضبط مجدد';
          color: black;
          position: absolute;
          right: 0;
          left: 0;
          text-align: center;
          @include primary-font-family('light');
          top: 8px;
          font-size: 14px;
          letter-spacing: 0;
          text-shadow: 0 0 5px rgba(#000, 0.2);
        }
        &:hover {
          background: #fff !important;
        }
      }

      & button[data-qa="open-input"] {
        color: #fff;
        position: relative;

        &::before {
          content: '';
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 1px solid var(--seed-error-color);
          position: absolute;
          left: calc(50% - 36px);
          top: -6px;
        }

        &::after {
          content: '';
          width: 60px;
          height: 60px;
          border-radius: 50%;
          background: var(--seed-error-color);
          position: absolute;
          top: 0;
          left: calc(50% - 30px);
        }
        &:hover {
          background: #fff !important;
        }
      }

      & button[data-qa="turn-on-camera"] {
        color: #fff;
        position: relative;
        &::after {
          content: 'اتصال به دوربین';
          color: black;
          position: absolute;
          right: 0;
          left: 0;
          text-align: center;
          @include primary-font-family('light');
          top: 17px;
          font-size: 14px;
          letter-spacing: 0;
          text-shadow: 0 0 5px rgba(#000, 0.2);
        }
        &:hover {
          background: #fff !important;
        }
      }
    }
  }
}

.media-wrapper {
  video {
    //max-width: initial;
    width: 100%;
    //transform: scaleX(3.1) scaleY(3.1) !important;
  }
}

.preview-confirm {
  figure {
    overflow: hidden;
    border-radius: .4rem;
    border: .3rem solid $figure-border-color;
    max-height: 36rem;
    max-width: 30rem;
    width: 26.5rem;
    height: 36rem;
    margin: auto;
    display: flex;
    justify-content: center;

    @include small-mobile {
      height: 28.4rem;
      width: 23.7rem;
    }

    & > img {
      height: 100%;
      max-width: initial;
    }
  }

  &__button {
    border: initial;
    outline: none;
    padding: 0;
    display: flex;
    align-items: center;

    &-agree {
      color: $agree-color !important;
      background-color: transparent !important;
    }

    &-disagree {
      width: 24px;
      height: 24px;
      border-radius: 24px;
      background-color: $disagree-color !important;
    }
  }
}

.image-wrapper {
  height: calc((100vw - 32px) * 0.66);
  width: 100vw;
}

.video-wrapper {
  height: calc((100vw - 32px) / 0.9);
  width: 100vw;
  max-height: 550px;
}
