$seed-toast-background-color: rgba(var(--f7-notification-bg-color-rgb), var(--seed-translucent-opacity));;
$seed-toast-blur: var(--seed-blur);
$seed-border-color: var(--seed-shadow-color);
$seed-close-size: 22px;
$seed-content-space: var(--seed-space-size);
$seed-icon-size: 22px;
$seed-subtitle-error-color: var(--seed-error-color);
$seed-subtitle-success-color: var(--seed-dark-color);
$seed-text-color: var(--seed-light-dark-color);
$seed-toast-space: calc(var(--seed-space-size) * 2);

.notification {
  backdrop-filter: blur($seed-toast-blur) !important;
  background-color: $seed-toast-background-color !important;
  @media all and (min-width: 551px) {
    transform: translate3d(-50%,-200%,0) !important;
    &.modal-in {
      transform: translate3d(-50%, 0%, 0) !important;
      opacity: 1;
    }
  }

  &-close-button:after {
    content: '\e909' !important;
    font-family: 'icon' !important;
    font-size: $seed-close-size !important;
  }

  &.direction__rtl {
    .notification-icon {
      margin-left: 8px;
      margin-right: 0;

      & img {
        height: auto;
        width: 100%;
      }
    }
  }

  &-subtitle {
    @include primary-font-family();
    font-weight: normal;
  }
}

.seed-toast {
  display: flex !important;
  padding: $seed-toast-space;

  &--error {
    & .notification-subtitle {
      color: $seed-subtitle-error-color;
    }
  }

  &--success {
    & .notification-subtitle {
      color: $seed-subtitle-success-color;
    }
  }

  .notification {
    &-close-button {
      position: absolute;
      left: $seed-toast-space;
    }

    &-content {
      margin-right: $seed-content-space;
      margin-top: 0 !important;
    }

    &-header {
      &:after {
        background-color: $seed-border-color;
        content: '';
        height: 100%;
        opacity: .7;
        width: 1px;
      }
    }

    &-icon {
      margin-left: $seed-toast-space !important;

      & > figure {
        height: $seed-icon-size;
        width: $seed-icon-size;
      }
    }

    &-subtitle, &-text {
      @include primary-font-family('medium');
      font-weight: 600;
    }

    &-subtitle {
      font-size: 1.2rem;
      margin-bottom: 4px;
    }

    &-text {
      color: $seed-text-color;
      font-size: 1rem;
    }
  }
}
