$color: var(--f7-input-text-color);
$font-size: var(--f7-input-font-size);
$height: var(--f7-input-height);
$label-focused: var(--f7-label-focused-text-color);
$them-color: var(--f7-theme-color);
$transition: .2s ease-in-out;

.number-format {
  border-bottom: 2px solid #c0bfbf !important;
  color: $color !important;
  direction: ltr;
  font-size: $font-size !important;
  height: $height;
  transition: $transition;
  transition-property: border-color, color;
  width: 100%;

  &:focus {
    border-color: $them-color !important;
  }
}

.masked-input-focused {
  & label, & i.icon {
    color: $label-focused !important;
  }
}
