@import '../colors';
$light-gray-bgc: $background-color;
$pressed-light-gray-bgc: darken($light-gray-bgc, 3%);
$primary-bgc: $light-primary-color;
$light-primary-bgc: lighten(desaturate(adjust-hue($light-primary-color, 1), 24.54), 57.06);
$gray-bgc: $shadow-color;
$gray-color: var(--seed-light-dark-color);
$pressed-light-primary-bgc: darken($light-primary-bgc, 3%);
$pressed-primary-bgc: darken($primary-bgc, 3%);
$pressed-gray-bgc: darken($gray-bgc, 3%);
$height: var(--seed-button-height);
$radius: calc(#{var(--seed-radius-size)} + 6px);
$shadow: var(--f7-button-raised-box-shadow);

.react_button {
  &_contained_primary {
    background-color: $primary-bgc;
    border-color: $primary-bgc;

    &:hover {
      background-color: $primary-bgc;
      border-color: $primary-bgc;
    }

    &.active-state {
      background-color: $pressed-primary-bgc;
      border-color: $pressed-primary-bgc;
    }

    & span {
      color: $white-color;
    }
  }

  &_round__low {
    border-radius: $radius;
    box-shadow: $shadow;
  }
  &_small {
    position: relative;
    min-height: $height;
  }
}

.react_content {
  @include primary-font-family('medium', true);
  //display: inline-flex;
  align-items: center;
}

.react-button {
  &-gray {
    background-color: $gray-bgc;
    border-color: $gray-bgc;
    box-shadow: initial !important;

    & span {
      color: $gray-color;
    }

    &:hover {
      background-color: $gray-bgc;
      border-color: $gray-bgc;
    }

    &.active-state {
      background-color: $pressed-gray-bgc;
      border-color: $pressed-gray-bgc;
    }
  }

  &-light-gray {
    background-color: $light-gray-bgc;
    border-color: $light-gray-bgc;
    box-shadow: initial !important;

    & span {
      color: $gray-color;
    }

    &:hover {
      background-color: $light-gray-bgc;
      border-color: $light-gray-bgc;
    }

    &.active-state {
      background-color: $pressed-light-gray-bgc;
      border-color: $pressed-light-gray-bgc;
    }
  }

  &-light-primary {
    background-color: $light-primary-bgc;
    border-color: $light-primary-bgc;
    box-shadow: initial !important;

    & span {
      color: $light-primary-color;
    }

    &:hover {
      background-color: $light-primary-bgc;
      border-color: $light-primary-bgc;
    }

    &.active-state {
      background-color: $pressed-light-primary-bgc;
      border-color: $pressed-light-primary-bgc;
    }
  }
}
