$base_path: './../../fonts';
$icon-path: 'icon/seed';
$icon-name: 'font-icon';

@font-face {
  font-family: 'icon';
  src: url('#{$base_path}/#{$icon-path}/#{$icon-name}.woff'),
       url('#{$base_path}/#{$icon-path}/#{$icon-name}.eot'),
       url('#{$base_path}/#{$icon-path}/#{$icon-name}.ttf');
  //font-weight: normal;
  font-style: normal;
  font-display: block;
}

i[class^="icon-"], i[class*=" icon-"] {
  font-family: 'icon' !important;
  font-size: 24px;
  speak: never;
  font-style: normal;
  //font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icons: (
  activity-circle: "\e91f",
  card-blus: "\e900",
  cheque: "\e922",
  cash: "\e918",
  close: "\e909",
  contact: "\e915",
  credit-card: "\e908",
  credit-card-fill: "\e907",
  deposit: "\e913",
  deposit-v2: "\e91a",
  desktop: "\e904",
  dots: "\e905",
  female: "\e91b",
  filter: "\e920",
  fire: "\e921",
  hamburger: "\e903",
  heart: "\e91c",
  info: "\e90d",
  info-square: "\e90e",
  lte: "\e917",
  keyboard: "\e90a",
  male-face: "\e91e",
  mobile: "\e901",
  mobile-v2: "\e902",
  paper: "\e91d",
  pdf-file: "\e923",
  plus: "\e906",
  refresh: "\e916",
  refresh-v2: "\e924",
  share: "\e911",
  sim-card: "\e919",
  tick: "\e90c",
  timer: "\e90b",
  withdraw: "\e914",
  triangle-left: "\e912",
  transaction-up: "\e90f",
  transaction-down: "\e910"
);

@each $icon in map_keys($icons) {
  .icon-#{$icon}::before {
    content: map_get($icons, $icon);
  }
}
