$skeleton-sizes: (
  inherit: inherit,
  3xsmall: .8rem,
  2xsmall: 1rem,
  xsmall: 1.1rem,
  small: 1.2rem,
  medium: 1.3rem,
  xmedium: 1.4rem,
  2xmedium: 1.5rem,
  3xmedium: 1.6rem,
  large: 1.8rem,
  xlarge: 2rem
);

.skeleton {
  &-rounded {
    border-radius: 30px;
    display: inline-flex;
    overflow: hidden;
  }

  @each $size in map-keys($skeleton-sizes) {
    &__#{$size} {
      font-size: map-get($skeleton-sizes, $size);
      line-height: map-get($skeleton-sizes, $size);

      & > * {
        font-size: map-get($skeleton-sizes, $size);
      }
    }
  }
}

@keyframes skeleton-effect-fade {
  0% {
    opacity: 1
  }
  50% {
    opacity: .7
  }
  100% {
    opacity: 1
  }
}
