$list-item-padding-vertical: 8px;
$navbar-height: var(--f7-appbar-height);
$page-background-color: var(--seed-background-color);
$page-padding-horizontal-size: var(--seed-page-padding-size);
$sortable-item-safe-area-left: 8px;
$sortable-item-shadow: var(--seed-box-shadow);

.sort-popup {
  & .navbar {
    height: $navbar-height;
  }
  & .navbar-bg {
    background-color: $page-background-color;
    background-image: none;
    backdrop-filter: initial;

    &::after {
      content: none;
    }
  }

  & .page {
    background-color: $page-background-color;
  }

  & .page-content {
    padding: $navbar-height $page-padding-horizontal-size 0;
  }

  & .item-inner {
    padding-bottom: $list-item-padding-vertical;
    padding-left: $sortable-item-safe-area-left + 36px !important;
    padding-top: $list-item-padding-vertical;
  }

  & .sortable-handler {
    left: $sortable-item-safe-area-left;
  }

  & .sorting {
    backdrop-filter: blur(8px);
    box-shadow: $sortable-item-shadow !important;
  }
}
