$credit-card-width: var(--seed-credit-card-width);
$credit-card-padding: calc(2 * var(--seed-space-size));

.swiper-container {
  width: 100%;
  padding: 0 $credit-card-padding;
  box-sizing: border-box;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: $credit-card-width;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  &:last-child {
    width: calc(100vw - 32px);
    max-width: calc(100%);
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
