$empty-widget-height: var(--seed-large-empty-box-height);
$footer-color: var(--seed-light-dark-color);
$footer-bg-color: var(--seed-success-color-rgb);
$footer-padding-horizontal: calc(2 * var(--seed-space-size));
$footer-padding-vertical: var(--seed-space-size);
$widget-shadow: var(--seed-box-shadow);
$widget-radius: var(--seed-radius-large-size);
$widget-padding-top: calc(2 * var(--seed-space-size));

.widget.card {
  border: solid 1px #f3f8f4;
  border-radius: $widget-radius;
  box-shadow: $widget-shadow;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.widget {
  & ul > li .item-inner {
    padding-top: 12px;
  }

  & ul > li:first-child .item-inner {
    padding-top: $widget-padding-top;
  }

  & .card {
    &-footer {
      color: $footer-color;
      padding: $footer-padding-vertical $footer-padding-horizontal;
      min-height: initial;

      &:before {
        content: none;
      }
    }
  }
}

.widget.goal-widget {
  & .item-inner {
    flex-direction: column;
    align-items: initial;
  }
}

.message-empty {
  height: $empty-widget-height;
  min-height: $empty-widget-height;
  padding: 0;
}
