@import "../variables/colors";
$color-white: #fff;
$color-light-muted: #fbfbfb;
$color-dark: #222;
$blue-muted :#85C9E8;
$white :white;
$background-colors: (white:$white, default: $color-white, muted: $sakit-light, light-muted: $color-light-muted, transparent: transparent, blue-muted:$blue-muted, black: $color-dark, primary: $sakit-primary-color, light-gray:$sakit-light-gray-color);
.background {
    @each $color in map_keys($background-colors) {
        &__#{"" + $color} {
            background: map_get($background-colors, $color);
        }
    }
}

.\!background {
    @each $color in map_keys($background-colors) {
        &__#{"" + $color} {
            background: map_get($background-colors, $color) !important;
        }
    }
}