$bottom-sizes: (
  0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100
);

@each $size in $bottom-sizes {
  .bottom__#{$size} {
    bottom: #{$size}px;
  }

  .\!bottom__#{$size} {
    bottom: #{$size}px !important;
  }
}

.bottom__initial {
  bottom: initial;
}

.\!bottom__initial {
  bottom: initial !important;
}
