$height-sizes: ( 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000);
$height-sizes-h: ( 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100);
@each $size in $height-sizes {
    .height__#{$size} {
        height: #{$size}px;
    }
    .\!height__#{$size} {
        height: #{$size}px !important;
    }
    .min-height__#{$size} {
        min-height: #{$size}px;
    }
    .\!min-height__#{$size} {
        min-height: #{$size}px !important;
    }
    .max-height__#{$size} {
        max-height: #{$size}px;
    }
    .\!max-height__#{$size} {
        max-height: #{$size}px !important;
    }
}

@each $size in $height-sizes-h {
    .height__#{$size}__vh {
        height: #{$size}vh;
    }
    .\!height__#{$size}__vh {
        height: #{$size}vh !important;
    }
    .min-height__#{$size}__vh {
        min-height: #{$size}vh;
    }
    .\!min-height__#{$size}__vh {
        min-height: #{$size}vh !important;
    }
    .max-height__#{$size}__vh {
        max-height: #{$size}vh;
    }
    .\!max-height__#{$size}__vh {
        max-height: #{$size}vh !important;
    }
}

.height__expand {
    height: 100%;
}

.\!height__expand {
    height: 100% !important;
}

.min-height__expand {
    min-height: 100%;
}

.\!min-height__expand {
    min-height: 100% !important;
}

.height__auto {
    height: auto;
}

.\!height__auto {
    height: auto !important;
}

.height__initial {
    height: initial;
}

.\!height__initial {
    height: initial !important;
}

.max-height__initial {
    max-height: initial;
}

.\!max-height__initial {
    max-height: initial !important;
}

.min-height__initial {
    min-height: initial;
}

.\!min-height__initial {
    min-height: initial !important;
}