$line-height-sizes: (
  inherit: inherit,
  initial: initial,
  3xsmall: .8rem,
  2xsmall: 1rem,
  xsmall: 1.1rem,
  small: 1.2rem,
  medium: 1.3rem,
  xmedium: 1.4rem,
  2xmedium: 1.5rem,
  3xmedium: 1.6rem,
  large: 1.8rem,
  xlarge: 2rem
);

@each $line-height in map_keys($line-height-sizes) {
  .line-height__#{$line-height} {
    line-height: map_get($line-height-sizes, $line-height);
  }

  .\!line-height__#{$line-height} {
    line-height: map_get($line-height-sizes, $line-height) !important;
  }
}
