$top-sizes: (
  0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100
);

@each $size in $top-sizes {
  .top__#{$size} {
    top: #{$size}px;
  }

  .\!top__#{$size} {
    top: #{$size}px !important;
  }
}

.top__initial {
  top: initial;
}

.\!top__initial {
  top: initial !important;
}
