$sakit-background-color: #e5e5e5;
$sakit-dark-color: $dark-color;
$sakit-error-color: $error-color;
$sakit-light: $background-color;
$sakit-light-dark-color: $light-dark-color;
$sakit-light-gray-color: $shadow-color;
$sakit-primary-color: $primary-color;
$sakit-secondary-color: $secondary-color;
$sakit-dark-secondary-color: $dark-secondary-color;
$sakit-light-primary-color: $light-primary-color;
$sakit-gold-color: $gold-color;
$sakit-danger: $high-priority;