$action-radius-size: 14px;
$appbar-height: 60px;
$blur: 10px;
$border-opacity: .25;
$credit-card-height: 144px;
$credit-card-width: 224px;
$input-height: 37px;
$input-height-large: 50px;
$large-empty-height: 176px;
$radius-size: 8px;
$space-size: 8px;
$translucent-opacity: .9;

:root {
  --f7-actions-button-font-size: 16px;
  --f7-appbar-height: #{$appbar-height};
  --f7-appbar-inner-padding-left: #{$space-size * 2};
  --f7-appbar-inner-padding-right: #{$space-size * 2};
  --f7-bars-translucent-opacity: #{$translucent-opacity};
  --f7-block-padding-horizontal: 32px;
  --f7-button-border-radius: #{$radius-size};
  --f7-contacts-list-title-height: 40px;
  --f7-contacts-list-title-font-weight: normal;
  --f7-input-font-size: 20px;
  --f7-input-height: #{$input-height};
  --f7-input-outline-border-radius: 8px;
  --f7-list-item-min-height: #{$input-height};
  --f7-notification-margin: #{$space-size * 2};
  --f7-popup-border-radius: #{$action-radius-size};
  --f7-safe-area-bottom: 10px;
  --f7-textarea-height: 27px;
  --seed-action-radius-size: #{$action-radius-size};
  --seed-blur: #{$blur};
  --seed-translucent-opacity: #{$translucent-opacity};
  --seed-border-opacity: #{$border-opacity};
  --seed-credit-card-height: #{$credit-card-height};
  --seed-credit-card-width: #{$credit-card-width};
  --seed-input-height-large: #{$input-height-large};
  --seed-large-empty-box-height: #{$large-empty-height};
  --seed-radius-size: #{$radius-size};
  --seed-space-size: #{$space-size};
  --seed-transition: .2s ease-in-out;
  --seed-radius-large-size: 14px;




  --f7-bars-translucent-blur: 10px;

  --f7-dialog-title-font-size: 16px;
  --f7-dialog-title-font-weight: normal;
  --f7-label-font-size: 14px;
  --f7-tabbar-labels-height: 65px;
  --f7-progressbar-height: 5px;
  --f7-progressbar-border-radius: 4px;
  --seed-button-height: 44px;
  --seed-page-padding-size: 16px;
  --seed-widget-list-border-radius: 12px;
}
